h1, h2, p {
    text-align: center;
}

h1, h2 {
    font-family: fantasy, serif;
}

h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: -20px;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, serif;
    background-image: url(https://assets.delawaretoday.com/2023/07/icecream-adobestock-1.jpeg);
    padding: 20px;
}

.menu {
    width: 80%;
    background-color: rgb(200, 229, 239);
    opacity: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 400px;
}

.bottom-line {
    margin-top: 25px;
}

hr {
    height: 1px;
    background-color: blue;
    border-color: blue;
}

.established {
    font-style: italic;
    margin-top: -40px;
    margin-bottom: 0px;
}

.flavor, .shake {
    text-align: right;
    width: 50%;
    /* margin-top: 0px; */
}

.price {
    text-align: right;
    width: 25%;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px; */
}

.address {
    margin-bottom: 5px;
}

/* FOOTER NOTES */

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: teal;
}

a:active {
    color: white;
}